
.height-cover{
    height: 100% !important;

}
.row{
    margin-bottom: 0px;
}
.top-space-10{
    margin-top: 10%;
}
.top-space-20{
    margin-top: 20%;
}
.profile-name{
    color: teal;
    margin: 3%;
    padding: 15px;
    border: solid teal 1.3px;
    border-radius: 3px;
}
.profile-name:hover{
    margin-top: 2.98%;
    border: solid teal 1.3px;
    background-color: teal;
    color: white;
    border-radius: 35px;
    transition: .5s;

}
.p-name{
    margin: 5px;
}
.fixer{
position: fixed;
    z-index: -2;

}
.fixer-work{
position: fixed;
    z-index:-1;

}
.particles{
  height: 100%;
  width: 100%;

}
.social-link:hover{

    border: solid teal 1.3px;
    background-color: teal;
    color: white;
    border-radius: 35px;
    transition: .5s;
}
.social-link{
    color: teal;
}

.black{
    background-color: #262628;
}
.t-white{
    color: white !important;
}
.name{

 padding-top: -20px;
 font-family: "QanelasSoftDEMO-ExtraBold.otf";
 font-size: 7rem;

}
.cover{
    height: 100vh;
}
.absolute{
    margin-left: 100px;
}
.sub-title{
    padding-top: 100px;

    font-size: 3em;
    font-family: "QanelasSoftDEMO-ExtraBold.otf";
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 0px solid white;
}
@font-face{
    font-family: "QanelasSoftDEMO-ExtraBold.otf";
    src: url("fonts/QanelasSoftDEMO-ExtraBold.otf");
}
.c-btn{
    margin-top: 20vh;
    width: 200px;
    text-align: center;
    color:white;
    padding: 10px;
    font-size: 1em;
    border: 1px solid white;
    border-radius: 50px;
    transition: .3s;

}
.c-btn:hover{
    background-color: #fff;
    color: black;
}
.sidenave{
    padding-top: 30px;
}
li{
    padding: 10px;
}
.portfolio{
    height: 100vh;

}


.row2-title{
  padding-top: 75px;
  margin: 3%;
  font-family: "QanelasSoftDEMO-ExtraBold.otf";

}
.a-dev{
  padding-top: 30px;
  padding-bottom: 30px;
}
.car{
  height: 70vh;
}
.exp-title{
    padding: 50px;
}
.work-date{

}
.nav-arrow{
  padding-top: 10vh;
}

@media only screen and (max-width: 600px) {
  .name{
   padding: 20px;
   font-family: "QanelasSoftDEMO-ExtraBold.otf";
   font-size: 3rem;
  }
  .sub-title{
    padding-top: 100px;
    padding-left: 0;
    padding-right: 0;
    font-family: "QanelasSoftDEMO-ExtraBold.otf";
    font-size: 2rem;
  }
}

.line{
  width: 9.5em;
  margin: 0 auto;
  text-align: center;
  white-space: nowrap;
  border-right: 2px solid rgba(255,255,255,0.75);
  overflow: hidden;


}


.anim-typewriter{
  animation: typewriter 3s steps(40) 1s 1 normal both,
  blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter{
  from{
    width: 0;
  }
  to{
    width: 9.5em;
  }
}

@keyframes blinkTextCursor {
  from{
    border-right-color: rgba(255,255,255,0.75);
  }
  to{
    border-right-color: transparent;
  }
}
