
@font-face {
  font-family: "deve.otf";
  src: url("fonts/deve.otf");
}
body{
    background-color: #FFFFFF;

}.profile {
  
  width: 100%;
  padding: 1px;
  
}
.fixer{
position: fixed;
}
.particles{
  height: 100%;
  width: 100%;
  z-index: -10;
}
.headstart{
  height: 100px;
  width: 100%;
}
.maxHeight{
  height: 100%;
}
.header{
  font-weight: 300;
}
.top20{
  padding-top: 50px;
}
.profile-name
{
  font-size: 550%;
  color:#959595;
  text-align: center;
  font-family: "deve.otf"
}
.temp{
  height: 100px;
  width: 100%;
  background-color: #FFFFFF;
}
.floater-left{
  float: left;
}
.ifloater-rght{
  float: right;
}
.profile-details{
  padding-top: 20px;
  font-size: 120%;
}
.identifier{
  background-color: grey;

}
.showcase{
  background-color:#959595;
  height: 500px;
  width: 100%;
}

