body{
  background-color:#f7f7f9 !important;
}
.custom-sidenav{
  height: 100vh;
  position: fixed;
}
.nav-link:hover{
background-color:#000;
}
.dark-grey{
  background-color: #353535;
}
.active{
background-color: #28a745!important;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 2;
  }
  @include media-breakpoint-only(xl) {
    column-count: 2;
  }
}
